

body {
  background: #f7f7f7;
}

.about {
  text-align: right;
}

svg {
  display: block;
  margin: auto;
}

.projects svg:hover {
  fill: #b3cccc;
}

.dottie {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
}

.dot {
  margin-bottom: 2rem;
  height: 25px;
  width: 25px;
  background-color: #b3cccc;
  border-radius: 50%;
}

.contact {
  padding-top: 20px;
  padding-bottom: 20px;
}

#contact {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.link {
  text-decoration: none;
  color: black;
}

@media only screen and (min-width: 768px) {
 .about {
   text-align: left;
   padding-left: 2rem;
 }

.card-full {
  display: flex;
  flex-wrap: wrap;
}

.projects {
   flex: 250px;
   padding-top: 20px;
   padding-bottom: 20px;
}

#contact {
  display: flex;
  flex-direction: row;
}

}


@media only screen and (min-width: 1024px) {

nav {
  margin-left: 10px;
  font-size: 24px;
}

.about {
  font-size: 18px;
}

.projects {
   flex: 400px;
   padding-top: 20px;
   padding-bottom: 20px;
}

}
}
